.navBar{
  background-color: rgb(234, 157, 157);
}
.list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 50px;
  list-style: none;
}
.itemList a {
  text-decoration: none;
  color: inherit;
}
.active_link{
  font-weight: bold;
  color: rgb(95, 4, 4);
}
